body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  a:link {
    text-decoration: none;
    color: #0097a7;
  }
  
  a:visited {
    text-decoration: none;
    color: #0097a7;
  }
  
  a:hover {
    text-decoration: none;
    color: #0097a7;
    background-color: #d9d9d9ff;
  }

  a:focus {
    text-decoration: none;
    color: #0097a7;
    background-color: #d9d9d9ff;
  }
  
  a:active {
    text-decoration: none;
    color: #0097a7;
    background-color: #999999ff;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .nav {
    height: 100%; 
    width: 25%; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #eeeeeeff;
    overflow-x: hidden;
    padding-top: 40px; 
    text-align: center;
    vertical-align: middle;
  }
  
  .nav a {
    height: 60px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .nav a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #d9d9d9ff;
  }
  
  .nav a:visited {
    text-decoration: none;
    color: #000000;
  }
  
  .nav a:active {
    text-decoration: none;
    color: #000000;
    background-color: #999999ff;
  }

  .dropbtn {
    background-color: #eeeeeeff;
    color: #000000;
    width: 100%;
    border: none;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7ff;
    width: 100%;
    z-index: 1;
    text-align: left;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: -1px;
  }
  
  .dropdown-content a:hover {background-color: #d9d9d9ff;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #d9d9d9ff;}
  
  .content {
    margin-left: 35%;
    margin-right: 10%;
    margin-top: 100px;
  }

.vspace {
    height: 120px;
    background-color: #eeeeeeff;
  }
  
  .title-page{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 110px;
  }
  
  .title-page > h1 {
    margin-bottom:50px;
  }
  
  .small {
    display: none;
  }
  
  .sidenav{
    display: none;
  }
  
  @media screen and (max-width: 5.5in) {
  body{
    font-size: 12px;
  }
  
  .small {
    display: inline;
  }
  
  .small > img {
    height: 65px;
    margin-left: 8px;
    margin-top: 10px;
  }
    
  #menu{
    position: absolute; 
    top: 7px; 
    right: 10px; 
    font-size:70px;
    color: #5e5e5e
  }
    
  .nav {
    display:none;
  }
    
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 6px;
  }
  
  .sidenav {
    display: inline;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eeeeeeff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    text-decoration: none;
    color: #000000;
  }
  
  .sidenav a:visited{
    text-decoration: none;
    color: #000000;
  }
  
  .sidenav a:active{
    text-decoration: none;
    color: #000000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav .closebtn:hover{
    background-color: #eeeeeeff;
    font-size: 50px;
  }

  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    margin-top: -1px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
    
  .content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .title-page{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .title-page > h1 {
    margin-bottom:20px;
  }
  }
  @media screen and (max-width: 3in) {
  
  
  .small > img {
    height: 45px;
    margin-left: 8px;
    margin-top: 10px;
  }
    
  #menu{
    position: absolute; 
    top: 5px; 
    right: 10px; 
    font-size:50px;
    color: #5e5e5e
  }
  }


