body{
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  height: 100%; 
  width: 25%; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #eeeeeeff;
  overflow-x: hidden;
  padding-top: 60px; 
}

a:link {
  text-decoration: none;
  color: #0097a7;
}

a:visited {
  text-decoration: none;
  color: #0097a7;
}

a:hover {
  text-decoration: none;
  color: #0097a7;
}

a:active {
  text-decoration: none;
  color: #0097a7;
}

.img-wrap {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

div > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.nav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

.nav a:hover {
  text-decoration: none;
  color: #000000;
}

.nav a:visited {
  text-decoration: none;
  color: #000000;
}

.nav a:active {
  text-decoration: none;
  color: #000000;
}

.content {
  margin-left: 35%;
  margin-right: 10%;
}
